@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-page="Polls/Create">New poll</a>
    </p>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Poll)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
